
/* Your CSS Code here. */
.holder {
	display: grid;
	width:400px;
	height:400px;
	grid-template-columns: repeat(2,200px);
	grid-template-rows:repeat(2,200px);
	background-color:red;
	gap:10px;
}

.item{
	background-color:yellow;
}